* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: Verdana;
}

#header {
    color: white;
    height: 80px;
    text-align: center;
    background-color: #9692B1;
}

#topL {
    width: 20%;
    height: 750px;
    color: white;
    background-color: #9692B1;
    float: left;
}

#top {
    background-color: #FFF4CC;
    width: 80%;
    height: 300px;
    text-align: center;
    float: left;
}

#bottom {
    background-color: #DBCC93;
    width: 80%;
    height: 450px;
    text-align: center;
    float: left;
}

#footer {
    color: white;
    text-align: right;
    background-color: #9692B1;
}

a {
    color: white;
}

.malyobrazek {
        margin-right: 25px;
        height: auto;
        max-width: 200px;
}

.duzyobrazek {
    margin-top: 20px;
    border: 4px #9692B1 solid;
}

.duzyobrazek:hover {
    border: rgb(128, 128, 128) 4px solid;
}