body {
    margin: 0;
    background-color: deepskyblue;
}

#topbar {
    color: orange;
    text-align: center;
    background-color: black;
    padding: 20px;
}

#leftmidup {
    background-color: rgb(128, 128, 128);
    color: black;
    float: left;
    padding: 80px;
    width: 250px;
    height: 100px;
}

#leftmiddown {
    background-color: turquoise;
    float: left;
    padding: 100px;
    width: 250px;
}

#rightmid  {
    background-color: yellow;
    color: black;
    float: left;
    padding: 220px;
}

#footer {
    text-align: center;
    background-color: black;
    color: white;
    clear: both;
    width: 100%;
}