.header {
    text-align: center;
    height: 100px;
    color: red;
    background-color: black;
    padding: 10px;
}

.content {
    text-align: center;
    padding: 50px;
}

.footer {
    background-color: black;
    color: red;
    text-align: right;
    padding-bottom: 6%;
}