body {
    font-size: 30px;
    font-family: "Arial Black";
    background-color: khaki;
    margin-left: 50px;
    margin-top: 50px;
}
section {
    font-family: Arial;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 20px;
}