body {
    background-color: black;
    color: white;
}

.jeden {
    color: green
}

.dwa {
background-color: red;
}

.trzy {
    text-decoration: underline;
}

.cztery {
font-size: 70px;
}

.pięć {
font-size: 15px;
}