#container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: #cccccc;
    font-family: Arial;
}

#header {
    border: 4px green dashed;
    height: 100px;
    text-align: center;
    padding-top: 15px;
    margin: auto;
    background-color: red;
    color: green;
    border-radius: 15px;
}

#content {
    margin-left: 300px;
    margin-top: 5px;
    height: 2000px;
    background-color: white;
    border-radius: 15px;
    border: 3px black solid;
    margin-bottom: 5px;
}

#sidebar {
    background-color: #404040;
    border: 7px #303030 solid;
    margin-right: 920px;
    height: 400px;
    float: left;
    width: 280px;
    border-radius: 15px;
}

#footer {
    
}