body {
    box-sizing: border-box;
    margin: 100px;
    background-color: #128870;
}

header {
    background-color: turquoise;
}

h1 {
    color: royalblue;
}

.tekst-class {
    background-color: darkgreen;
}

#tekst-id {
    color: red !important;
}